
<div layout = "column" class = "w3-white margins">
    <div layout = "row" class="parentdiv" >
        <div layout = "row" layout-align = "center center" class = "activetab"><div>{{vm.words.DIAGRAM_STATS}}</div></div>
        <div layout = "row" layout-align = "center center" class = "inactivetab"><div>{{vm.words.MONTH_REPORT}}</div></div>
    </div>
    <div ng-if = "true" layout-margin class = "whitediv" layout = "column">
        <div layout = "row" layout-align = "center center">{{vm.words.DATA_TRANSFER}}</div>
        <div class = "w3-display-container">
            <canvas id="doughnut" class="chart chart-doughnut" 
                    chart-data="vm.chartData" chart-labels="vm.chartLabels" chart-colors="['rgb(0,140,0)','rgb(255,64,0)','rgb(250,250,200)','rgb(230,230,230)']" >
            </canvas>
            <div class="w3-display-middle">
                <h1>{{vm.total}}GB</h1> 
                <h3>{{vm.totalFiles + " " + vm.words.FILES}} </h3>
            </div>            
        </div>
    </div>
    <div layout = "row">
        <div class = "greenlinediv" flex></div>
        <div class = "redlinediv" flex></div>
        <div class = "yellowlinediv" flex></div>
    </div>
    <div layout = "row" layout-align = "space-around center" class = "w3-gray paddingtopbottom">            
        <div layout = "column" layout-align = "center center">
            <span>{{vm.words.AUDIO}}</span>
            <span class = "w3-xlarge">{{vm.audioRate}}%</span>
        </div>
        <div layout = "column" layout-align = "center center">
            <span>{{vm.words.VIDEO}}</span>
            <span class = "w3-xlarge">{{vm.videoRate}}%</span>
        </div>
        <div layout = "column" layout-align = "center center">
            <span>{{vm.words.PHOTO}}</span>            
            <span class = "w3-xlarge">{{vm.photoRate}}%</span>
        </div>            
    </div>
    <div class = "w3-btn w3-blue" ng-click = "vm.simulateUpload($event)">
        {{vm.words.SIMULATE_UPLOAD}}
    </div>    
</div>

